<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<main layout:fragment="contenido">
    <table class="table-primary">
        <thead>
        <tr>
            <th>id Productos</th>
            <th>Nombre </th>
            <th>Fecha de Alta</th>
            <th>Precio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto: ${productos}">
            <td th:text="${producto.id}"></td>
            <td th:text="${producto.nombre}"></td>
            <td th:text="${producto.fechaAlta}"></td>
            <td th:text="${producto.precio}"></td>
            <td >
                <a class="btn btn-warning" th:href="@{/editarProductos/} + ${producto.id}">Editar <i
                        class="fa fa-edit"></i></a>
            </td>
            <td >
                <a class="btn btn-danger" th:href="@{/eliminarProductos/} + ${producto.id}"
                                onclick="return confirm('Esta seguro que desea eliminar el prodcuto?');">Eliminar <i
                        class="fa fa-trash-o"></i></a>
            </td>
        </tr>

        </tbody>
    </table>
</main>
</body>
</html>