<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
<body>
<main layout:fragment="contenido">
    <div class="container">
        <h1>Alta de Clientes</h1>
        <hr>
        <h2>Guardar Cliente</h2>
        <form action="#" th:action="@{/guardarCliente}"

              th:object="${cliente}"
              method="POST">
            <input type="text" th:field="*{nombre}" id="nombre"

                   placeholder="Nombre del Cliente"

                   class="form-control mb-4 col-4">
            <input type="text"   th:field="*{apellido}" placeholder="Apellido del cliente" class="form-control mb-4 col-4">
            <input type="text"   th:field="*{dni}" placeholder="DNI del cliente" class="form-control mb-4 col-4">
            <input type="text"   th:field="*{email}" placeholder="Email del cliente"

                   class="form-control mb-4 col-4">
            <button type="submit" class="btn btn-info col-2">Guardar

                Cliente </button>

        </form>
        <hr>

        <a th:href="@{clientes/listarClientes}"> Volver a la lista de Clientes</a>
    </div>
</main>
</body>
</html>