<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<main layout:fragment="contenido">
    <table class="table-primary">
    <thead>
    <tr>
        <th>id Clientes</th>
        <th>Nombre </th>
        <th>Apellido </th>
        <th>DNI</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente: ${clientes}">
        <td th:text="${cliente.id}"></td>
        <td th:text="${cliente.nombre}"></td>
        <td th:text="${cliente.apellido}"></td>
        <td th:text="${cliente.dni}"></td>
        <td th:text="${cliente.email}"></td>
        <td >
            <a class="btn btn-warning" th:href="@{/editarClientes/} + ${cliente.id}">Editar <i
                    class="fa fa-edit"></i></a>
        </td>
        <td >
            <a class="btn btn-danger" th:href="@{/eliminarClientes/} + ${cliente.id}"
               onclick="return confirm('Esta seguro que desea eliminar el prodcuto?');">Eliminar <i
                    class="fa fa-trash-o"></i></a>
        </td>
    </tr>
    </tr>

    </tbody>
</table>
    <a th:href="@{agregarCliente}"> Agregar Cliente</a>
</main>
</body>
</html>